.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem;
  padding-top: 6rem;
  min-height: 100vh;
  line-height: 2em;
  text-align: justify;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
}

.container{
  padding: 0 2rem;
  max-width: 45vw;
}

.center h1{
  font-size:3rem;
}

.mainnav ul{
  /* style={{display:'flex',listStyle:'none',fontWeight:'bold',justifyContent:'center'}} */
  display:flex;
justify-content: center;
margin-top: 30px;

}
.subhead{
  justify-content: center;
  display: flex;
  font-size: 20px;
}

.mainnav ul li {
  padding: 0 15px;
  margin: 0 30px;
  list-style: none;
  font-weight: bold;
text-decoration: none;
}

.mainnav ul li a{
  text-decoration: none;
  font-size: medium;
  color: black;

}
.main div h1{
  text-align: center;

}

.blogs{
  text-align: justify;
  margin: 0;

}
.blogs h2{
  padding: 10px 79px;
 text-align: center;
 text-decoration: underline;
 text-underline-offset: 2px;
}
.myImg{
  border-radius:200px;

  transition: transform 1s ease-out;

  border: 2px solid;
  margin: 30px 0;
  z-index: -99;


}
.myImg:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px rgb(0, 0, 0);
 
}
.blogItem{
  padding: 10px 199px;
  width: 60vw;
  text-align: justify;
}

.btn{
color: white;
background-color: black;
padding: 7px 10px;
cursor: pointer;
border-radius: 7px;
margin: 10px 0;
}
@media only screen and (max-width: 600px) {
  .mainnav ul li {
    padding: 0 10px;
    margin: 0 10px;
    list-style: none;
    font-weight: bold;
  text-decoration: none;
  }
  .subhead{
    font-size: 15px;
    margin-top: 0;
  }
  .blogItem{
    padding: 10px 19px;
    width: 80vw;
    text-align: justify;
  }
  .container{
    max-width: 80vw;
    /* margin-top: 20px; */
  }
  .main{
    padding: 0;
    padding-top: 90px;
  }
  .center h1{
    font-size:2rem;
  }
  
}